<a href="https://colab.research.google.com/github/vkjadon/sklearn/blob/main/automotive_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%cd drive/MyDrive/datasets

/content/drive/MyDrive/datasets

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import metrics

In [7]:
names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']
df= pd.read_csv('auto-mpg.data', names = names, sep = '\s+')
df.to_csv('auto.csv')

‘\s+’ is a regex matching any white-space character i.e. [\t\n\r\f\v]
read a *.dat file using pandas.read_csv function by specifying the delimiter as space/tab etc.

In [8]:
display(df.head(3))

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite